.git
.github
.gitignore
.env
.env.*
!.env.example
.venv
__pycache__
**/__pycache__
*.pyc
*.pyo
*.pyd
.DS_Store
.vscode
.idea
data
config
music
download_requests.json
SoundScout-template.xml
README.md
scraper/.gitignore
scraper/README.md
scraper/LICENSE
scraper/wails.json
scraper/frontend
scraper/scraper
scraper/scraper.exe
scraper/backend/ffmpeg
scraper/backend/ffprobe